body {
  background-color: white;
  transition-property: color, background-color, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.dark body {
  background-color: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade {
  opacity: 0;
}
.fade-enter-from-bottom {
  transform: translateY(40px);
}
.fade-enter-from-top {
  transform: translateY(-40px);
}
.fade.visible {
  opacity: 1;
  transform: translateY(0);
}